
@{
    ViewData["Title"] = "Group User";
}
<div ng-app="GroupUserApp" ng-controller="GroupUserCtrl">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>{{site.lbtitle}}</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item">General</li>
                        <li class="breadcrumb-item"><a href="/Project">Projects</a></li>
                        <li class="breadcrumb-item active">Group User</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">{{site.lbtitle}}</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-1 col-md-2 col-sm-4 col-lg-1">
                    <button ng-click="NewGroupUser()" class="btn btn-block btn-primary btn-sm" type="button"><i class="fa fa-plus"></i> {{site.btn_new}}</button>
                </div>
                <div class="col-1 col-md-2 col-sm-4 col-lg-1">
                    <button ng-click="EditGroupUser()" class="btn btn-block btn-primary btn-sm" type="button"><i class="fa fa-edit"></i> {{site.btn_edit}}</button>
                </div>
                <div class="col-1 col-md-2 col-sm-4 col-lg-1">
                    <button ng-click="DeleteGroupUser()" class="btn btn-block btn-primary btn-sm" type="button"><i class="fa fa-trash"></i> {{site.btn_delete}}</button>
                </div>
                <div class="col-1 col-md-2 col-sm-4 col-lg-2">
                    <button ng-click="UsersList()" class="btn btn-block btn-primary btn-sm" type="button"><i class="fa fa-cube"></i> {{site.btn_userlist}}</button>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-1 col-md-2 col-sm-4 col-lg-1">{{site.lb_project}}:</div>
                <div class="col-2">
                    <ui-select ng-change="LoadGroupUser(selectedProject)" ng-model="selectedProject" theme="select2" title="Choose a project" style="width: 100%">
                        <ui-select-match placeholder="Select a project">{{selectedProject.projectName}}</ui-select-match>
                        <ui-select-choices repeat="project in projects | propsFilter: {projectName: $select.search, description: $select.search}">
                            <div ng-bind-html="project.projectName | highlight: $select.search"></div>
                            <small>
                                <span ng-bind-html="''+project.description | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                        </ui-select>
                </div>
            </div><br />
                  <div class="row">
                      <div class="col-9 col-md-8 col-sm-6 col-lg-9"></div>
                      <div class="col-1 col-md-2 col-sm-4 col-lg-1">{{site.lb_search}}:</div>
                      <div class="col-2"><input type="text" ng-model="searchGroup" class="form-control" /></div>
                  </div>
            <br />
            <table datatables="" id="tableGroupUser" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <!--
    <th ng-click="orderByField='groupUserID'; reverseSort = !reverseSort">
        ID <span ng-show="orderByField == 'groupUserID'"><i class="fa fa-arrow-up" ng-show="!reverseSort"></i><i class="fa fa-arrow-down" ng-show="reverseSort"></i></span>
    </th>
        -->
                        <th ng-click="orderByField='groupUsername'; reverseSort = !reverseSort">
                            {{site.col_name}} <span ng-show="orderByField == 'groupUsername'"><i class="fa fa-arrow-up" ng-show="!reverseSort"></i><i class="fa fa-arrow-down" ng-show="reverseSort"></i></span>
                        </th>
                        <th ng-click="orderByField='description'; reverseSort = !reverseSort">
                            {{site.col_description}} <span ng-show="orderByField == 'description'"><i class="fa fa-arrow-up" ng-show="!reverseSort"></i><i class="fa fa-arrow-down" ng-show="reverseSort"></i></span>
                        </th>
                        <th ng-click="orderByField='ouldap'; reverseSort = !reverseSort">
                            {{site.col_ou}} <span ng-show="orderByField == 'ouldap'"><i class="fa fa-arrow-up" ng-show="!reverseSort"></i><i class="fa fa-arrow-down" ng-show="reverseSort"></i></span>
                        </th>
                        <th ng-click="orderByField='userCreate'; reverseSort = !reverseSort">
                            {{site.col_createdby}} <span ng-show="orderByField == 'userCreate'"><i class="fa fa-arrow-up" ng-show="!reverseSort"></i><i class="fa fa-arrow-down" ng-show="reverseSort"></i></span>
                        </th>
                        <th ng-click="orderByField='dateCreate'; reverseSort = !reverseSort">
                            {{site.col_createddate}} <span ng-show="orderByField == 'dateCreate'"><i class="fa fa-arrow-up" ng-show="!reverseSort"></i><i class="fa fa-arrow-down" ng-show="reverseSort"></i></span>
                        </th>

                        <th ng-click="orderByField='userUpdate'; reverseSort = !reverseSort">
                            {{site.col_updatedby}} <span ng-show="orderByField == 'userUpdate'"><i class="fa fa-arrow-up" ng-show="!reverseSort"></i><i class="fa fa-arrow-down" ng-show="reverseSort"></i></span>
                        </th>
                        <th ng-click="orderByField='dateUpdate'; reverseSort = !reverseSort">
                            {{site.col_updateddate}} <span ng-show="orderByField == 'dateUpdate'"><i class="fa fa-arrow-up" ng-show="!reverseSort"></i><i class="fa fa-arrow-down" ng-show="reverseSort"></i></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-click="SelectGroupUser(groupUser)" ng-class="{selected: groupUser == selectedUserGroup}" ng-repeat="groupUser in userGroups | filter:searchGroup | orderBy:orderByField:reverseSort" context-menu="groupMenu" context-menu-on="contextmenu">
                        <!--<td>{{groupUser.groupUserID}}</td>-->
                        <td>{{groupUser.groupUsername}}</td>
                        <td>{{groupUser.description}}</td>
                        <td>{{groupUser.ouldap}}</td>
                        <td>{{groupUser.userCreate}}</td>
                        <td>{{groupUser.dateCreate | date: 'dd/MM/yyyy HH:mm'}}</td>
                        <td>{{groupUser.userUpdate}}</td>
                        <td>{{groupUser.dateUpdate | date: 'dd/MM/yyyy HH:mm' | hideIfEmpty: 'dd/MM/yyyy HH:mm'}}</td>
                    </tr>
                </tbody>

            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <!-- GroupUser modal -->
    <div class="modal fade" id="modalGroupUser">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{site.md_title}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- GroupUser code & name-->
                    <div class="row">
                        @*20200615*@
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label>{{site.col_name}}</label> <span class="required">*</span>
                                <input name="userGroupName"
                                       ng-model="userGroupName"
                                       type="text"
                                       class="form-control"
                                       placeholder={{site.col_name}}
                                       ng-keyup="EnableSavebtn()"
                                       ng-minlength="1"
                                       required />
                            </div>
                        </div>
                    </div>
                    <!-- /.GroupUser code & name-->
                    <!-- GroupUser description -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>{{site.col_description}}</label>
                                <textarea ng-model="userGroupDesc" rows="2" class="form-control" placeholder="{{site.col_description}} ..."></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- /.GroupUser description -->
                    <!-- GroupUser OU LDAP -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>{{site.col_ou}}</label> <span class="required">*</span> <br>
                                @*<label>{{userGroupOU}}</label> <span></span> <br>*@

                                <textarea ng-model="userGroupOU" rows="2" class="form-control" ng-readonly="true"></textarea>
                                <button ng-click=showModalLDAP()
                                        type="button"
                                        class="btn btn-primary">
                                    Search OULDAP
                                </button>

                            </div>


                            @*20200617 get full list ouldap*@
                            @*<div class="form-group">
            <label>Select OULDAP in below list</label> <span></span> <br>
            <ui-select ng-change="setOULDAPtoModal(selectedOULDAP)"
                       ng-model="selectedOULDAP" theme="select2" title="Select a OULDAP" style="width: 100%">
                <ui-select-match placeholder="Select a OULDAP">
                    {{selectedOULDAP.OULDAP}}
                </ui-select-match>

                <ui-select-choices repeat="OULDAP in listUsingOULDAP | propsFilter: {OULDAP: $select.search}">
                    <div ng-bind-html="OULDAP.OULDAP | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>*@

                            @*20200617 get ouldap when input search         *@
                            <div class="card-body row" ng_show="enableModalLDAP">
                                <ui-select ng-change="setOULDAPtoModal(selectedOULDAP)"
                                           ng-model="selectedOULDAP" theme="select2" title="Select a OULDAP" style="width: 75%">
                                    <ui-select-match placeholder="Select a OULDAP">
                                        {{selectedOULDAP.OULDAP}}
                                    </ui-select-match>

                                    <ui-select-choices repeat="OULDAP in listUsingOULDAP | propsFilter: {OULDAP: $select.search}">
                                        <div ng-bind-html="OULDAP.OULDAP | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>

                                <label style="width: 1%"></label>
                                <input ng-model="keywordOULDAP"
                                       ng-change="findOULDAP(keywordOULDAP)"
                                       rows="1"
                                       class="form-control"
                                       placeholder="Search OULDAP:"
                                       style="width: 24%" />

                                <button ng-click=closeModalLDAP()
                                        type="button"
                                        class="btn btn-primary">
                                    Close
                                </button>
                            </div>

                            @*20200617 get full list ouldap from search keyword*@
                            @*<div class="form-group">
            <label>Select OULDAP in below list</label> <span></span> <br>
            <ui-select ng-change="setOULDAPtoModal(selectedOULDAP)"
                       ng-model="selectedOULDAP" theme="select2" title="Select a OULDAP" style="width: 100%">
                <ui-select-match placeholder="Select a OULDAP">
                    {{selectedOULDAP.OULDAP}}
                </ui-select-match>

                <ui-select-choices repeat="OULDAP in listUsingOULDAP | propsFilter: {OULDAP: $select.search}">
                    <div ng-bind-html="OULDAP.OULDAP | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>*@





                        </div>
                    </div>
                    <!-- /.GroupUser OU LDAP -->
                </div>
                <div class="modal-footer right-content-between">                   
                    <button ng-click=SaveChanges()
                            type="button"
                            class="btn btn-primary"
                            ng-disabled="IsDisabledSaveBtn"
                            >
                        {{site.btnsave}}
                    </button>

                    <button type="button" class="btn btn-default" data-dismiss="modal">{{site.btnclose}}</button>

                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->
    <!-- /.GroupUser modal -->


</div> <!-- ng-app -->
<script>
    var projectId = '@ViewBag.projectId'
</script>
<script src="~/js/pages/GroupUser/GroupUserController.js">
</script>

<script src="~/js/pages/Filter/FilterDateUpdateController.js"></script>

<style>
    .required {
        color: red;
    }

    .hideShowModalLDAP {
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: -1;
    }

</style>